body {
    background: linear-gradient(to bottom, orange 0%, yellow 200%);
    background-repeat: no-repeat;
}

img {
    height: 200px;
    width: 200px;
}

#nameHeader {
    font-family: 'Bangers', 'cursive';
    font-size: 150px;
    font-weight: bolder;
    text-align: center;
}

#interactive {
    font-family: 'Bangers', 'cursive';
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
}

hr {
    color: black;
    size: 100px;
}

p {
    font-family: 'Fredoka One', 'cursive';
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}